.episode-title {
    color: rgb(255, 123, 0) !important;
    font-family: cursive;
    font-size: 20pt;
    text-align: center;
    padding: 5px 0;
}

section#ep42 {
	background-color: yellow;
}

section#ep42 h1 {
	color: red;
	text-align: center;
}

section#ep42 p {
	font-family: "Arial";
	font-size: 20px;
}