.container {
    margin: 20px;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* grid-column-gap: 25px;
    grid-row-gap: 25px; */
}

.box-1 {
    background: rgb(25, 118, 210, 0.5);
    grid-row-start: 1;
    grid-row-end: -1;
}

.box-2 {
    background: rgb(123, 31, 162, 0.5);
    grid-row-start: 1;
    grid-row-end: 7;
}

.box-3 {
    background: rgb(56, 142, 60, 0.5);
    grid-row-start: 7;
    grid-row-end: -1;
}

.box-4 {
    background: rgb(81, 45, 168, 0.5);
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: -1;
    align-self: center;
    justify-self: center;
}