main {
    padding-top: 32px;
}

.testimonial {
    font-size: 1.2rem;
}

.testimonial:first-of-type {
    margin-top: 6rem;
}

.testimonial__image-container {
    min-width: 300px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.customer-image {
    width: 100%;
    vertical-align: top;
}

.testimonal__info {
    text-align: right;
    padding: 0.9rem;
}

#customer-2.testimonial {
    text-align: right;
}

.testimonial__name {
    margin: 0.2rem;
    color: #1565c0;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #757575;
}

.testimonial__text {
    margin: 0.2rem;
    color: #212121;
}

@media (min-width: 40rem) {
    .testimonial {
        margin: 3rem 0;
    }

    .testimonial__image-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    .testimonal__info  {
        display: inline-block;
        vertical-align: middle;
        width: 20%;
    }
}