.background {
    background: url('../../images/bg-image.jpg') center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    filter: grayscale(40%);
}

main {
    padding-top: 75px;
}

.plan {
    width: 60%;
    margin: 16px 0;
    border: 2px solid #1565c0;
    border-left: none;
    text-align: right;
    border-radius: 3px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.plan a {
    text-decoration: none;
    color: #0d47a1;
    display: block;
    padding: 32px;
}

.plan__info {
    padding: 16px;
    border: 1px solid #1e88e8;
    font-size: 15px;
    border-radius: 3px;
    background: #ffffff;
}

.plan__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 15px;
    background: #1e88e5;
    color: #ffffff;
    padding: 2px 8px;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-2rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;

}

.clearfix {
    clear: both;
}

#plus {
     background: #bbdefb;
}

#free {
    background: #e3f2fd;
    float: right;
    border: 2px solid #1565c0;
    border-right: none;
}

#premium {
    background: #1565c0;
}

#premium .plan__title {
    color: #ffffff;
}